version: '3'

volumes:
  database_data:
    driver: local

services:
  postgres:
    image: postgres:latest
    environment:
      - DATABASE_HOST=127.0.0.1
      - POSTGRES_USER=meditation-service
      - POSTGRES_PASSWORD=meditation
      - POSTGRES_DB=meditation-service

    ports:
      - "5432:5432"